{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('login') }}
{% endblock %}

{% block main %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-5">
            <div class="well">
                <form action="{{ path('security_login') }}" method="post">
                    <fieldset>
                        <legend><i class="fa fa-lock" aria-hidden="true"></i> Secure Sign in passwordless</legend>
                        <div class="form-group">
                            <label for="username">{{ 'label.username'|trans }}</label>
                            <input type="text" id="username" name="_username" class="form-control"/>
                        </div>
                        <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <button type="submit" class="btn btn-primary" id="login_button">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>

        <div id="login-help" class="col-sm-7">
            <h3>

                No account?
            </h3>

                <fieldset>
                    <div class="form-group">
                        <label for="username">{{ 'label.username'|trans }}</label>
                        <input type="text" id="new_username" name="new_username" class="form-control"/>
                    </div>
                    <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                    <button type="submit" class="btn btn-primary" id="create_button">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> Create
                    </button>
                </fieldset>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
